body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:765px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2467 {
  position:absolute;
  left:454px;
  top:53px;
  width:766px;
  height:765px;
}
#u2468 {
  position:absolute;
  left:2px;
  top:374px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:765px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2469 {
  position:absolute;
  left:232px;
  top:53px;
  width:221px;
  height:765px;
}
#u2470 {
  position:absolute;
  left:2px;
  top:374px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:250px;
  top:117px;
  width:184px;
  height:63px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:24px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2473 {
  position:absolute;
  left:250px;
  top:87px;
  width:184px;
  height:30px;
}
#u2473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2474 {
  position:absolute;
  left:268px;
  top:128px;
  width:100px;
  height:16px;
}
#u2475 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u2476 {
  position:absolute;
  left:305px;
  top:128px;
  width:105px;
  height:16px;
}
#u2477 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u2478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u2478 {
  position:absolute;
  left:287px;
  top:133px;
  width:12px;
  height:7px;
}
#u2479 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u2480 {
  position:absolute;
  left:299px;
  top:156px;
  width:7px;
  height:12px;
}
#u2481 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u2482 {
  position:absolute;
  left:313px;
  top:154px;
  width:105px;
  height:16px;
}
#u2483 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u2484 {
  position:absolute;
  left:279px;
  top:154px;
  width:100px;
  height:16px;
}
#u2485 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2484_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2486 {
  position:absolute;
  left:250px;
  top:190px;
  width:184px;
  height:30px;
}
#u2486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2487 {
  position:absolute;
  left:250px;
  top:270px;
  width:184px;
  height:30px;
}
#u2487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2488 {
  position:absolute;
  left:250px;
  top:303px;
  width:184px;
  height:30px;
}
#u2488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2489 {
  position:absolute;
  left:250px;
  top:234px;
  width:184px;
  height:30px;
}
#u2489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2489_input:disabled {
  color:grayText;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2490 {
  position:absolute;
  left:250px;
  top:443px;
  width:184px;
  height:30px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u2492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u2492 {
  position:absolute;
  left:250px;
  top:64px;
  width:79px;
  height:16px;
}
#u2493 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u2494 {
  position:absolute;
  left:479px;
  top:64px;
  width:107px;
  height:16px;
}
#u2495 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.686274509803922);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2496 {
  position:absolute;
  left:250px;
  top:483px;
  width:184px;
  height:30px;
}
#u2497 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u2498 {
  position:absolute;
  left:479px;
  top:100px;
  width:713px;
  height:141px;
}
#u2499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u2499 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u2501 {
  position:absolute;
  left:42px;
  top:0px;
  width:83px;
  height:36px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u2503 {
  position:absolute;
  left:125px;
  top:0px;
  width:68px;
  height:36px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2505 {
  position:absolute;
  left:193px;
  top:0px;
  width:64px;
  height:36px;
}
#u2506 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2507 {
  position:absolute;
  left:257px;
  top:0px;
  width:64px;
  height:36px;
}
#u2508 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2509 {
  position:absolute;
  left:321px;
  top:0px;
  width:64px;
  height:36px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2511 {
  position:absolute;
  left:385px;
  top:0px;
  width:64px;
  height:36px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2513 {
  position:absolute;
  left:449px;
  top:0px;
  width:64px;
  height:36px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2515 {
  position:absolute;
  left:513px;
  top:0px;
  width:64px;
  height:36px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2517 {
  position:absolute;
  left:577px;
  top:0px;
  width:64px;
  height:36px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u2519 {
  position:absolute;
  left:641px;
  top:0px;
  width:67px;
  height:36px;
}
#u2520 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u2521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:100px;
}
#u2521 {
  position:absolute;
  left:0px;
  top:36px;
  width:42px;
  height:100px;
}
#u2522 {
  position:absolute;
  left:2px;
  top:42px;
  width:38px;
  word-wrap:break-word;
}
#u2523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:100px;
}
#u2523 {
  position:absolute;
  left:42px;
  top:36px;
  width:83px;
  height:100px;
  font-size:14px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:42px;
  width:79px;
  word-wrap:break-word;
}
#u2525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:100px;
}
#u2525 {
  position:absolute;
  left:125px;
  top:36px;
  width:68px;
  height:100px;
  font-size:14px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:42px;
  width:64px;
  word-wrap:break-word;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2527 {
  position:absolute;
  left:193px;
  top:36px;
  width:64px;
  height:100px;
}
#u2528 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u2529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2529 {
  position:absolute;
  left:257px;
  top:36px;
  width:64px;
  height:100px;
}
#u2530 {
  position:absolute;
  left:2px;
  top:34px;
  width:60px;
  word-wrap:break-word;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2531 {
  position:absolute;
  left:321px;
  top:36px;
  width:64px;
  height:100px;
}
#u2532 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
#u2533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2533 {
  position:absolute;
  left:385px;
  top:36px;
  width:64px;
  height:100px;
}
#u2534 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u2535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2535 {
  position:absolute;
  left:449px;
  top:36px;
  width:64px;
  height:100px;
}
#u2536 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2537 {
  position:absolute;
  left:513px;
  top:36px;
  width:64px;
  height:100px;
}
#u2538 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u2539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:100px;
}
#u2539 {
  position:absolute;
  left:577px;
  top:36px;
  width:64px;
  height:100px;
}
#u2540 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u2541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:100px;
}
#u2541 {
  position:absolute;
  left:641px;
  top:36px;
  width:67px;
  height:100px;
}
#u2542 {
  position:absolute;
  left:2px;
  top:34px;
  width:63px;
  word-wrap:break-word;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:765px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  position:absolute;
  left:0px;
  top:53px;
  width:66px;
  height:765px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:374px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:52px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:52px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:18px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2548 {
  position:absolute;
  left:63px;
  top:18px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2549 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2550 {
  position:absolute;
  left:12px;
  top:92px;
  width:40px;
  height:40px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2552 {
  position:absolute;
  left:18px;
  top:143px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2553 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2554 {
  position:absolute;
  left:12px;
  top:6px;
  width:40px;
  height:40px;
}
#u2555 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2556 {
  position:absolute;
  left:13px;
  top:359px;
  width:40px;
  height:40px;
}
#u2557 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2558 {
  position:absolute;
  left:19px;
  top:410px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2559 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2560 {
  position:absolute;
  left:13px;
  top:451px;
  width:40px;
  height:40px;
}
#u2561 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2562 {
  position:absolute;
  left:19px;
  top:502px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2563 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2564 {
  position:absolute;
  left:14px;
  top:545px;
  width:40px;
  height:40px;
}
#u2565 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2566 {
  position:absolute;
  left:20px;
  top:596px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2567 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2568 {
  position:absolute;
  left:13px;
  top:265px;
  width:40px;
  height:40px;
}
#u2569 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2570 {
  position:absolute;
  left:19px;
  top:316px;
  width:69px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2571 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2572 {
  position:absolute;
  left:12px;
  top:182px;
  width:40px;
  height:40px;
}
#u2573 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2574 {
  position:absolute;
  left:18px;
  top:233px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2575 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2576 {
  position:absolute;
  left:249px;
  top:364px;
  width:61px;
  height:29px;
}
#u2577 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u2578 {
  position:absolute;
  left:250px;
  top:340px;
  width:79px;
  height:16px;
}
#u2579 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2580 {
  position:absolute;
  left:314px;
  top:364px;
  width:61px;
  height:29px;
}
#u2581 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2582 {
  position:absolute;
  left:378px;
  top:364px;
  width:61px;
  height:29px;
}
#u2583 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2584 {
  position:absolute;
  left:250px;
  top:397px;
  width:61px;
  height:29px;
}
#u2585 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2586 {
  position:absolute;
  left:314px;
  top:397px;
  width:61px;
  height:29px;
}
#u2587 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2588 {
  position:absolute;
  left:378px;
  top:397px;
  width:61px;
  height:29px;
}
#u2589 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:765px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2590 {
  position:absolute;
  left:66px;
  top:53px;
  width:165px;
  height:765px;
}
#u2591 {
  position:absolute;
  left:2px;
  top:374px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2592 {
  position:absolute;
  left:84px;
  top:73px;
  width:117px;
  height:16px;
}
#u2593 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2594 {
  position:absolute;
  left:84px;
  top:105px;
  width:117px;
  height:16px;
}
#u2595 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2596 {
  position:absolute;
  left:84px;
  top:135px;
  width:117px;
  height:29px;
}
#u2597 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2598 {
  position:absolute;
  left:84px;
  top:150px;
  width:117px;
  height:32px;
}
#u2599 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
