body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:97px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:97px;
}
#u2 {
  position:absolute;
  left:2px;
  top:40px;
  width:1597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:402px;
}
#u3 {
  position:absolute;
  left:0px;
  top:97px;
  width:1603px;
  height:402px;
}
#u4 {
  position:absolute;
  left:2px;
  top:193px;
  width:1599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1602px;
  height:404px;
}
#u5 {
  position:absolute;
  left:0px;
  top:498px;
  width:1602px;
  height:404px;
}
#u6 {
  position:absolute;
  left:2px;
  top:194px;
  width:1598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1603px;
  height:403px;
}
#u7 {
  position:absolute;
  left:0px;
  top:898px;
  width:1603px;
  height:403px;
}
#u8 {
  position:absolute;
  left:2px;
  top:194px;
  width:1599px;
  visibility:hidden;
  word-wrap:break-word;
}
